{% extends "visitor_management/base.html" %}
{% load crispy_forms_tags %}
{% block script %}

	<div align="center" class="container-fluid">

		<form
			action="{% url 'vm-empOUT' %}"
			method="POST">
				{% csrf_token %}

				<div class="form-group">
					<input
	          required id="id_emp_name"
	          name='emp_name'
	          align="center"
	          class="form-control"
	          type="search"
	          placeholder="Please enter your name"
				</div>

				<div class="md-form my-3">
					{{ form.date.as_hidden }}
					{{ form.status.as_hidden }}
				</div>

				<div class="form-group">
					<button
						align="center"
						class="btn btn-secondary btn-lg"
						type="submit"
						name="exit"
						value="confirm">
							Punch Out
					</button>
				</div>

		</form>

	</div>

{% endblock script %}
