{% extends "visitor_management/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <div class="media-body">
            <h2 class="site-header" align="center">Terms and Conditions</h2>
        </div>



                <div class="card-body">

                    <p class="text-muted ab-0">
                        NBTS is committed to the principles inherent in the General Data Protection Regulation (GDPR) EU 2016/679 and the Data Protection Act (CAP586).
                    </p>

                    <p class="text-muted ab-0">
                        Data is processed lawfully, fair, transparent, minimised and as necessary.
                    </p>

                    <p class="text-muted ab-0">
                        Data is accurate and updated accordingly.
                    </p>

                    <p class="text-muted ab-0">
                        Data is stored safely and securely. Retention period of personal data provided is stored until contract with supplier is terminated. Retention period of entry/exit data is stored till 12 midnight of every day.
                    </p>

                    <p class="text-muted ab-0">
                        Data Subject has the right of rectification and erasure of data, unless otherwise stated in a legal obligation.
                    </p>

                    <p class="text-muted ab-0">
                        Your personal information will not be disclosed to third parties unless strictly required by law.
                    </p>


      <!--               <div
                        class="button-container"
                        align="center"
                        style="padding-top:10px;
                        padding-right:10px;
                        padding-bottom:10px;
                        padding-left:10px;">

                        <button
                            type="submit"
                            name="disagree"
                            value="Disagree"
                            class="btn btn-danger">
                                Disagree
                        </button>

                        <button
                            type="submit"
                            name="agree"
                            value="Agree"
                            class="btn btn-success">
                                Agree
                        </button>

                    </div> -->


                </div>






    </div>


{% endblock content %}
